<div class="container-fluid">
    <div class="row d-flex justify-content-center">

        <div class="col-12 d-flex justify-content-center mt-5">
            <img src="https://firebasestorage.googleapis.com/v0/b/angular-app-e02ea.appspot.com/o/error.jpg?alt=media&token=da535f68-22cf-48c9-98a4-6a2fae6ab8f5" width="50%" alt="" style="display: block;">
        </div>

        <div class="col-12 text-center mt-5">
            <h2>Error 404: Page Not Found</h2>
            <h2>This page may have been removed or changed</h2>
            <a routerLink="">Go To HomePage</a>
        </div>
    </div>
</div>
